{% extends 'partials/base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}

    <!-- Main Contents -->
    <div class="main_content">
        <div class="mcontainer">

            <!-- Profile cover -->
            <div class="profile user-profile">

                <div class="profiles_banner">
                    <img src="{{ profile.cover.url }}" alt="">
                </div>
                <div class="profiles_content">

                    <div class="profile_avatar items-start">
                        <div class="profile_avatar_holder">
                            <img src="{{ profile.avatar.url }}" alt="">
                        </div>
                        <div class="user_status status_online"></div>
                        <div class="icon_change_photo" hidden>
                            <ion-icon name="camera" class="text-xl"></ion-icon>
                        </div>
                    </div>

                    <div class="profile_info text-center px-5">
                        <h1>{{ current_user.username }}</h1>

                        {% if profile.about_me %}
                            <p class="text-center">{{ profile.about_me }}</p>
                        {% else %}
                            <p class="text-center "><a href="" class="dashed">Add Role</a></p>
                        {% endif %}

                        {% if profile.bio %}
                            <p>{{ profile.bio }}</p>
                        {% else %}
                            <p><a href="" class="dashed">Looks like your bio is empty</a></p>
                        {% endif %}

                    </div>

                </div>

                <div class="flex justify-between lg:border-t border-gray-100 flex-col-reverse lg:flex-row pt-2">
                    <nav class="responsive-nav pl-3">
                        <ul uk-switcher="connect: #timeline-tab; animation: uk-animation-fade">
                            <li><a href="#">Posts</a></li>
                        </ul>
                    </nav>

                    <!-- button actions -->
                    <div class="flex items-center space-x-1.5 flex-shrink-0 pr-4 mb-2 justify-center order-1 relative">
                        <!-- add story -->
                        <a href="#"
                           class="flex items-center justify-center h-10 px-5 rounded-md bg-blue-600 text-white space-x-1.5 hover:text-white"
                           uk-toggle="target: #create-post-modal">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5">
                                <path fill-rule="evenodd"
                                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span> Add your day </span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="uk-switcher lg:mt-8 mt-4" id="timeline-tab">

                <!-- Timeline -->
                <div class="md:flex md:space-x-6">
                    <div class="space-y-5 flex-shrink-0 md:w-7/12">
                        <!-- create post  -->
                        <div class="card lg:mx-0 p-4" uk-toggle="target: #create-post-modal">
                            <div class="flex space-x-3">
                                <img src="{{ request.user.profile.avatar.url }}" class="w-10 h-10 rounded-full">
                                <input placeholder="Hey {{ request.user.username }}, show off your progress today"
                                       class="bg-gray-100 hover:bg-gray-200 flex-1 h-10 px-6 rounded-full">
                            </div>
                        </div>

                        <div class="post-div" id="post-list">
                            {% if posts.count > 0 %}
                                {% for p in posts %}
                                    <div id="post{{ p.id }}" class="card lg:mx-0 uk-animation-slide-bottom-small mb-3">

                                        <!-- post header-->
                                        <div class="flex justify-between items-center lg:p-4 p-2.5">
                                            <div class="flex flex-1 items-start space-x-4">
                                                <a href="">
                                                    <img src="{{ p.author.profile.avatar.url }}"
                                                         style="width: 40px; height: 40px;"
                                                         class="bg-gray-200 border border-white rounded-full w-10 h-10">
                                                </a>
                                                <div class="flex-1 font-semibold">
                                                    <a href=""
                                                       class="text-black dark:text-gray-100">{{ p.author.username }}</a>
                                                    <div class="flex gap-4 items-center">
                                                        {% if p.updated_at %}
                                                            <div class="text-gray-700 flex items-center space-x-2">{{ p.updated_at|timesince }}
                                                                ago
                                                                <ion-icon name="story-time"></ion-icon>
                                                            </div>
                                                        {% endif %}
                                                        {% if p.visibility == "friends" %}
                                                            <span class="bg-blue-100 text-blue-800 text-xs px-2.5 py-0.5 font-medium me-2 rounded dark:bg-blue-900 dark:text-blue-300">
                                                        Friends
                                                    </span>
                                                        {% elif p.visibility == "private" %}
                                                            <span class="bg-red-100 text-red-800 text-xs px-2.5 py-0.5 font-medium me-2 rounded dark:bg-red-900 dark:text-red-300">
                                                        Private
                                                    </span>
                                                        {% elif p.visibility == "public" %}
                                                            <span class="bg-green-100 text-green-800 text-xs px-2.5 py-0.5 font-medium me-2 rounded dark:bg-green-900 dark:text-green-300">
                                                        Public
                                                    </span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <a href="#"> <i
                                                        class="icon-feather-more-horizontal text-2xl hover:bg-gray-200 rounded-full p-2 transition -mr-1 dark:hover:bg-gray-700"></i>
                                                </a>
                                                <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden text-base border border-gray-100 dark:bg-gray-900 dark:text-gray-100 dark:border-gray-700"
                                                     uk-drop="mode: click;pos: bottom-right;animation: uk-animation-slide-bottom-small">

                                                    <ul class="space-y-1">
                                                        <li>
                                                            <a href="#"
                                                               class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                                                <i class="uil-share-alt mr-1"></i> Share
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#"
                                                               class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                                                <i class="uil-favorite mr-1"></i> Add favorites
                                                            </a>
                                                        </li>
                                                        {% if request.user.username == p.author.username %}
                                                            <li>
                                                                <a href="#"
                                                                   class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                                                    <i class="uil-edit-alt mr-1"></i> Edit Post
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#"
                                                                   class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                                                    <i class="uil-comment-slash mr-1"></i> Disable
                                                                    comments
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <hr class="-mx-2 my-2 dark:border-gray-800">
                                                            </li>
                                                            <li>
                                                                <a href="#"
                                                                   id="delete-post"
                                                                   data-delete-btn="{{ p.id }}"
                                                                   class="flex items-center px-3 py-2 text-red-500 hover:bg-red-100 hover:text-red-500 rounded-md dark:hover:bg-red-600">
                                                                    <i class="uil-trash-alt mr-1"></i> Delete
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>


                                        <div uk-lightbox>

                                            {% if p.content %}
                                                <div class="p-5 pt-0 border-b dark:border-gray-700 pb-3">
                                                    {{ p.content|truncatechars:130 }}
                                                    {% if p.content_len_count > 130 %}
                                                        <a href="" class="text-blue-500">Continue Reading</a>
                                                    {% endif %}
                                                </div>
                                            {% endif %}

                                            {% if p.workout %}
                                                <div class="flex flex-col gap-2 px-5 py-2">
                                                    <h3 class="text-md font-semibold">Here's my workout routine</h3>
                                                    <div class="flex items-center gap-3 flex-wrap">
                                                        {% if p.workout.start_time %}
                                                            <div class="flex items-center gap-0.5">
                                                                <i class="fa-solid fa-clock fa-bounce"></i>
                                                                {{ p.workout.start_time|time:"g:i A" }}
                                                            </div>
                                                        {% endif %}
                                                        {% if p.workout.start_date %}
                                                            <div class="flex items-center gap-0.5">
                                                                <i class="fa-solid fa-calendar fa-flip"></i>
                                                                {{ p.workout.start_date|date }}
                                                            </div>
                                                        {% endif %}
                                                        {% if p.workout.duration %}
                                                            <div class="flex items-center gap-0.5">
                                                                <i class="fa-solid fa-hourglass-start fa-spin"></i>
                                                                {{ p.workout.duration }}
                                                            </div>
                                                        {% endif %}
                                                        {% if p.workout.calories_burned %}
                                                            <div class="flex items-center gap-0.5">
                                                                <i class="fa-solid fa-fire fa-beat"></i>
                                                                {{ p.workout.calories_burned }}
                                                            </div>
                                                        {% endif %}
                                                        {% if p.workout.distance %}
                                                            <div class="flex items-center gap-0.5">
                                                                <i class="fa-solid fa-route fa-fade"></i>
                                                                <span>{{ p.workout.distance }} KM</span>
                                                            </div>
                                                        {% endif %}
                                                        {% if p.workout.pace %}
                                                            <div class="flex items-center gap-0.5">
                                                                <i class="fa-solid fa-person-walking fa-shake"></i>
                                                                {{ p.workout.pace }}
                                                            </div>
                                                        {% endif %}
                                                        {% if p.workout.elevation %}
                                                            <div class="flex items-center gap-0.5">
                                                                <i class="fa-solid fa-stairs fa-shake"></i>
                                                                {{ p.workout.elevation }}
                                                            </div>
                                                        {% endif %}
                                                        {% if p.workout.steps %}
                                                            <div class="flex items-center gap-0.5">
                                                                <i class="fa-solid fa-shoe-prints fa-fade"></i>
                                                                {{ p.workout.steps }}
                                                            </div>
                                                        {% endif %}
                                                        {% if p.workout.heart_rate %}
                                                            <div class="flex items-center gap-0.5">
                                                                <i class="fa-solid fa-heart-pulse fa-beat"></i>
                                                                {{ p.workout.heart_rate }}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="flex items-center justify-start gap-2">
                                                <span class="bg-blue-100 text-blue-800 text-xs px-2.5 py-0.5 font-medium me-2 rounded dark:bg-blue-900 dark:text-blue-300">
                                                    #{{ p.workout.name }}
                                                </span>
                                                        <span class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">
                                                    #{{ p.workout.type.name }}
                                                </span>
                                                        <span class="bg-purple-100 text-purple-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300">
                                                    #{{ p.workout.type.category }}
                                                </span>
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {% if p.image %}
                                                <div class="grid grid-cols-2 gap-2 px-5">
                                                    <!-- Show thumnnail -->
                                                    <a href="{{ p.image.url }}" class="col-span-2">
                                                        <img src="{{ p.image.url }}"
                                                             style="width: 100%; height: 300px; object-fit: cover;"
                                                             alt="" class="rounded-md w-full lg:h-76 object-cover">
                                                    </a>
                                                </div>
                                            {% endif %}

                                        </div>

                                        <div class="p-4 space-y-3">
                                            <div class="flex space-x-4 lg:font-bold border-b dark:border-gray-700 pb-3">
                                                <a class="flex items-center space-x-2  text-blue-500"
                                                   style="cursor: pointer;">
                                                    <div class="p-2 rounded-full like-btn{{ p.id }} {% if request.user in p.likes.all %}text-blue-500 {% else %} text-black {% endif %} "
                                                         id="like-btn" data-like-btn="{{ p.id }}">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                             fill="currentColor"
                                                             width="22" height="22" class="dark:text-blue-100">
                                                            <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z"/>
                                                        </svg>
                                                    </div>
                                                    <div>Like</div>
                                                </a>
                                                <a href="#" class="flex items-center space-x-2">
                                                    <div class="p-2 rounded-full  text-black lg:bg-gray-100 dark:bg-gray-600">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                             fill="currentColor"
                                                             width="22" height="22" class="dark:text-gray-100">
                                                            <path fill-rule="evenodd"
                                                                  d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
                                                                  clip-rule="evenodd"/>
                                                        </svg>
                                                    </div>
                                                    <div><b><span
                                                            id="comment-count{{ p.id }}">{{ p.comments_count }}</span></b>
                                                        Comment
                                                    </div>
                                                </a>
                                                <a href="#" class="flex items-center space-x-2 flex-1 justify-end">
                                                    <div class="p-2 rounded-full  text-black lg:bg-gray-100 dark:bg-gray-600">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                             fill="currentColor"
                                                             width="22" height="22" class="dark:text-gray-100">
                                                            <path d="M15 8a3 3 0 10-2.977-2.63l-4.94 2.47a3 3 0 100 4.319l4.94 2.47a3 3 0 10.895-1.789l-4.94-2.47a3.027 3.027 0 000-.74l4.94-2.47C13.456 7.68 14.19 8 15 8z"/>
                                                        </svg>
                                                    </div>
                                                    <div>Share</div>
                                                </a>
                                            </div>

                                            <div class="flex items-center space-x-3 pt-2">

                                                {% if p.likes.all.count > 0 %}
                                                    <div class="flex items-center">
                                                        {% for i in p.likes.all|slice:"3" %}
                                                            {% if forloop.first %}
                                                                <img src="{{ i.profile.avatar.url }}" alt=""
                                                                     class="w-6 h-6 rounded-full border-2 border-white dark:border-gray-900">
                                                            {% else %}
                                                                <img src="{{ i.profile.avatar.url }}" alt=""
                                                                     class="w-6 h-6 rounded-full border-2 border-white dark:border-gray-900 -ml-2">
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                    <div class="dark:text-gray-100">
                                                        <strong><span
                                                                id="like-count{{ p.id }}">{{ p.likes.all.count }}</span></strong>
                                                        Likes
                                                    </div>
                                                {% else %}
                                                    <div class="dark:text-gray-100">
                                                        <strong><span id="like-count{{ p.id }}">0</span></strong> Likes
                                                    </div>
                                                {% endif %}

                                                {% if p.comments.all.count > 0 %}
                                                    <div class="dark:text-gray-100">
                                                        <strong><span
                                                                id="comment-count{{ p.id }}">{{ p.comments.all.count }}</span></strong>
                                                        Comments
                                                    </div>
                                                {% else %}
                                                    <div class="dark:text-gray-100">
                                                        <strong><span id="comment-count{{ p.id }}">0</span></strong>
                                                        Comments
                                                    </div>
                                                {% endif %}

                                            </div>


                                            <div class="border-t py-4 space-y-4 dark:border-gray-600"
                                                 id="comment-div{{ p.id }}">

                                                {% for c in p.comments|slice:"3" %}
                                                    <div class="flex card shadow px-2 py-3" id="comment-div{{ c.id }}">
                                                        <div class="w-10 h-10 rounded-full relative flex-shrink-0">
                                                            <img src="{{ c.user.profile.avatar.url }}" alt=""
                                                                 class="absolute h-full rounded-full w-full">
                                                        </div>
                                                        <div class="w-full relative">

                                                            <div class="text-gray-700 py-2 px-3 rounded-md bg-gray-100 relative lg:ml-5 ml-2 lg:mr-12 dark:bg-gray-800 dark:text-gray-100 flex items-center w-full">
                                                                <p class="leading-6 flex-grow">{{ c.comment }}</p>
                                                                {% if c.user == request.user %}
                                                                    <button class="ml-auto text-xs ml-3 mr-3 p-4 hover:text-red-500"
                                                                            id="delete-comment"
                                                                            data-delete-comment="{{ c.id }}"><i
                                                                            class="fas fa-trash"></i></button>
                                                                {% endif %}
                                                            </div>
                                                            <div class="text-sm flex items-center gap-3 mt-2 ml-5 absolute -top-6">
                                                                <small>{{ c.updated_at|timesince }} ago</small>
                                                            </div>
                                                            <details class="ml-5">
                                                                <summary class="flex gap-2">
                                                                    <div class="">Reply</div>
                                                                </summary>

                                                                <details-menu role="menu"
                                                                              class="origin-top-right relative right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none">
                                                                    <div class="pyf-1" role="none">
                                                                        <div method="POST" class="p-1 d-flex" action="#"
                                                                             role="none">
                                                                            <input type="text" class="with-border"
                                                                                   name=""
                                                                                   id="reply-input{{ c.id }}">
                                                                            <button id="reply-comment-btn"
                                                                                    data-reply-comment-btn="{{ c.id }}"
                                                                                    class="block w-fulfl text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 reply-comment-btn{{ c.id }}"
                                                                                    role="menuitem">
                                                                                <i class="fa-solid fa-paper-plane"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </details-menu>
                                                            </details>
                                                            <div class="reply-div{{ c.id }}">
                                                                {% for r in c.comment_replies %}
                                                                    <div class="flex mr-12 mb-2 mt-2"
                                                                         style="margin-right: 20px;">
                                                                        <div class="w-10 h-10 rounded-full relative flex-shrink-0">
                                                                            <img src="{{ r.user.profile.avatar.url }}"
                                                                                 style="width: 40px; height: 40px;"
                                                                                 alt=""
                                                                                 class="absolute h-full rounded-full w-full">
                                                                        </div>
                                                                        <div>
                                                                            <div class="text-gray-700 py-2 px-3 rounded-md bg-gray-100 relative lg:ml-5 ml-2 lg:mr-12 dark:bg-gray-800 dark:text-gray-100">
                                                                                <p class="leading-6">{{ r.reply }}</p>
                                                                                <div class="absolute w-3 h-3 top-3 -left-1 bg-gray-100 transform rotate-45 dark:bg-gray-800"></div>
                                                                            </div>
                                                                            <span> <small>{{ r.updated_at|timesince }} ago</small> </span>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- <hr> -->
                                                {% endfor %}

                                            </div>


                                            {% if p.comments.count|sub:2 < 1 %}
                                                <a href="#" class="hover:text-blue-600 hover:underline">No comments </a>
                                            {% else %}
                                                <a href="{% url 'core:post-detail' p.slug %}"
                                                   class="hover:text-blue-600 hover:underline">
                                                    View {{ p.comments.count|sub:3 }} more comments </a>
                                            {% endif %}


                                            <div class="bg-gray-100 rounded-full relative dark:bg-gray-800 border-t">
                                                <input placeholder="Add your comment..." id="comment-input{{ p.id }}"
                                                       data-comment-input="{{ p.id }}"
                                                       class="bg-transparent max-h-10 shadow-none px-5 comment-input{{ p.id }}">
                                                <div class="absolute top-1.5 flex items-center right-5 text-xl">
                                                    <a style="cursor: pointer;" id="comment-btn"
                                                       class="comment-btn{{ p.id }} flex items-center justify-center h-7 w-7 hover:bg-gray-200 p-1.5 rounded-full"
                                                       data-comment-btn="{{ p.id }}">
                                                        <i class="fa-solid fa-paper-plane"></i>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                {% endfor %}
                            {% else %}
                                <div class="card lg:mx-0 uk-animation-slide-bottom-small mb-3">
                                    <div class="p-5 border-b dark:border-gray-700">
                                        <p class="text-gray-700">No posts available</p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Sidebar -->
                    <div class="w-full space-y-6">

                        <div class="widget card p-5">
                            <h4 class="text-lg font-semibold"> About </h4>
                            <ul class="text-gray-600 space-y-3 mt-3">
                                <li class="flex items-center space-x-2">
                                    <i class="fa fa-venus-mars rounded-full bg-gray-200 text-xl p-1 mr-3"></i>
                                    <span>
                                    {% if profile.gender %}
                                        Gender <strong> {{ profile.gender|title }}</strong>
                                    {% else %}
                                        Gender <strong> <a href="" class="dashed">Not added yet</a> </strong>
                                    {% endif %}
                                    </span>
                                </li>
                                <li class="flex items-center space-x-2">
                                    <i class="fa fa-home rounded-full bg-gray-200 text-xl p-1 mr-3"></i>
                                    <span>
                                    {% if profile.country and profile.city %}
                                        Lives in <strong> {{ profile.city }}, {{ profile.country }}  </strong>
                                    {% else %}
                                        Lives in <strong> <a href="" class="dashed">Not added yet</a> </strong>
                                    {% endif %}
                                    </span>
                                </li>
                                <li class="flex items-center space-x-2">
                                    <i class="fa fa-globe rounded-full bg-gray-200 text-xl p-1 mr-3"></i>
                                    <span>
                                    {% if profile.country and profile.city %}
                                        From <strong> {{ profile.city }}, {{ profile.country }}  </strong>
                                    {% else %}
                                        From <strong> <a href="" class="dashed">Not added yet</a> </strong>
                                    {% endif %}
                                    </span>
                                </li>
                                <li class="flex items-center space-x-2">
                                    <i class="fa fa-phone rounded-full bg-gray-200 text-xl p-1 mr-3"></i>
                                    <span>
                                    {% if profile.phone %}
                                        Phone <strong> {{ profile.phone }} </strong>
                                    {% else %}
                                        Phone <strong> <a href="" class="dashed">Not added yet</a> </strong>
                                    {% endif %}
                                    </span>
                                </li>
                                <li class="flex items-center space-x-2">
                                    <i class="fa fa-person rounded-full bg-gray-200 text-xl p-1 mr-4"></i>
                                    <span>
                                    {% if profile.height %}
                                        Height <strong> {{ profile.height }} </strong>
                                    {% else %}
                                        Height <strong> <a href="" class="dashed">Not added yet</a> </strong>
                                    {% endif %}
                                    </span>
                                </li>
                                <li class="flex items-center space-x-2">
                                    <i class="fa fa-weight-scale rounded-full bg-gray-200 text-xl p-1 mr-3"></i>
                                    <span>
                                    {% if profile.height %}
                                        Weight <strong> {{ profile.weight }} </strong>
                                    {% else %}
                                        Weight <strong> <a href="" class="dashed">Not added yet</a> </strong>
                                    {% endif %}
                                    </span>
                                </li>
                                <li class="flex items-center space-x-2">
                                    <i class="fa fa-connectdevelop rounded-full bg-gray-200 text-xl p-1 mr-3"></i>
                                    <span>
                                    {% if profile.created_at %}
                                        Joined <strong> {{ profile.created_at|date }} </strong>
                                    {% endif %}
                                    </span>
                                </li>
                            </ul>
                            <a href="#" class="button gray mt-3 w-full"> Edit </a>
                        </div>

                        <div class="widget card p-5 border-t">
                            <div class="flex items-center justify-between mb-4">
                                <h4 class="text-lg font-semibold"> Friends </h4>
                                <p class="text-sm"> {{ friends.all.count }} friend(s)</p>
                            </div>
                            <div class="grid grid-cols-3 gap-3 text-gray-600 font-semibold">

                                {% for f in friends.all %}
                                    <a href="">
                                        <div class="avatar relative rounded-md overflow-hidden w-full h-24 mb-2">
                                            <img src="{{ f.profile.avatar.url }}"
                                                 style="width: 100%; height: 100px; object-fit: cover;" alt=""
                                                 class="w-full h-full object-cover absolute">
                                        </div>
                                        <div class="text-sm truncate">{{ f.profile.username }}</div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Create post modal -->
    <div id="create-post-modal" class="create-post is-story uk-modal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical rounded-lg p-0 lg:w-5/12 relative shadow-2xl uk-animation-slide-bottom-small">
            <form id="post-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="text-center py-3 border-b">
                    <h3 class="text-lg font-semibold"> Share your day </h3>
                    <button class="uk-modal-close-default bg-gray-100 rounded-full p-2.5 right-2" type="button" uk-close
                            uk-tooltip="title: Close ; pos: bottom ;offset:7"></button>
                </div>
                <div class="flex flex-1 items-start space-x-4 p-5">
                    <img src="{{ request.user.profile.avatar.url }}"
                         class="bg-gray-200 border border-white rounded-full w-11 h-11">
                    <div class="flex-1 pt-2">
                        <textarea id="post-caption" name="post-caption"
                                  class="uk-textare text-black shadow-none focus:shadow-none text-xl font-medium resize-none"
                                  rows="5"
                                  placeholder="Hey {{ request.user.username }}, show off your progress today"></textarea>
                    </div>
                </div>

                <div class="flex flex-1 p-5 w-100">
                    <div class="flex-1 pt-2">
                        <img src="https://joadre.com/wp-content/uploads/2019/02/no-image.jpg"
                             id="preview_post_thumbnail"
                             style="display: none; width: 100%; height: 200px;object-fit: cover; border-radius: 10px;"
                             alt=""
                             for="post-thumbnail">
                    </div>
                </div>

                <div class="flex flex-1 items-start space-y-4 px-3 py-2">
                    <select class="selectpicker story w-full" name="workout" id="workout">
                        <option>Select Workout</option>
                        {% for w in workouts %}
                            <option value="{{ w.id }}">{{ w.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <script>
                    var loadFile = function (event) {
                        var output2 = document.getElementById("preview_post_thumbnail");
                        output2.src = URL.createObjectURL(event.target.files[0]);
                        output2.onload = function () {
                            URL.revokeObjectURL(output2.src); // free memory
                        };
                        output2.style.display = "block";
                    };
                </script>
                <div class="absolute -bottom-20 space-x-4 w-full">
                    <div class="flex bg-white border border-purple-100 rounded-md p-2 shadow-md items-center">
                        <div class="lg:block hidden ml-1"> Want something extra?</div>
                        <div class="flex flex-1 items-center lg:justify-end justify-center space-x-2">

                            <label for="post-thumbnail">
                                <svg class="bg-blue-100 h-9 p-1.5 rounded-full text-blue-600 w-9 cursor-pointer"
                                     fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                                </svg>
                            </label>
                            <input onchange="loadFile(event)" name="post-thumbnail" class="d-none " type="file"
                                   id="post-thumbnail">
                            <label for="">
                                <svg class="text-red-600 h-9 p-1.5 rounded-full bg-red-100 w-9 cursor-pointer"
                                     fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M7 4v16M17 4v16M3 8h4m10 0h4M3 12h18M3 16h4m10 0h4M4 20h16a1 1 0 001-1V5a1 1 0 00-1-1H4a1 1 0 00-1 1v14a1 1 0 001 1z"></path>
                                </svg>
                            </label>
                            <svg class="hover:bg-gray-200 h-9 p-1.5 rounded-full w-9 cursor-pointer" id="veiw-more"
                                 uk-toggle="target: #veiw-more; animation: uk-animation-fade" fill="none"
                                 stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
                            </svg>

                        </div>
                    </div>
                </div>
                <div class="flex items-center w-full justify-between border-t p-3">
                    <select class="selectpicker mt-2 story" name="visibility" id="visibility">
                        <option value="public">Public</option>
                        <option value="friends">Friends</option>
                        <option value="private">Private</option>
                    </select>
                    <button type="submit" id="share-post"
                            class="bg-blue-600 flex h-9 items-center justify-center rounded-md text-white px-5 font-medium">
                        Share
                    </button>
                </div>
            </form>

        </div>
    </div>
{% endblock content %}
